.authentication-page {
  min-height: 100vh;

  form {
    width: 480px;
    max-width: calc(100% - 30px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);

    & > * {
      margin: 8px auto;
    }

    button {
      display: block;
      width: 100px;
    }

    h1 {
      font-size: 4.5rem;
      text-align: center;
      margin-bottom: 64px;
    }

    h3 {
      font-size: 2rem;
      text-align: center;
    }
  }
}