.ant-btn {
  &.ant-btn-circle {
    border: none;
    background: transparent;

    &.ant-btn-secondary{
      &:hover {
        color: $secondary-color;
      }

      &.ant-btn-clicked {
        &:after {
          border-color: $secondary-color;
        }
      }
    }
  }

  &.ant-full-width {
    width: 100%;
    display: block;
  }
}
