.home-page {
  .add-point-form {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $overlay-color;
    width: 100%;
    height: 100%;

    form {
      position: absolute;
      height: 80vh;
      width: 600px;
      max-width: calc(100% - 30px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      padding: 8px 16px;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 4px;

      & > * {
        margin: 8px auto;
      }

      & > img {
        border-radius: 4px;
        display: block;
        margin: 8px auto;
        max-width: calc(100% - 30px);
      }

      .ant-calendar-picker {
        display: block;
        width: 100%;
      }

      .ant-checkbox-wrapper {
        display: block;
      }
    }
  }
}