.categories-component {
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: $white;
  transition: height .2s;
  overflow-x: hidden;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  .add-category {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    height: 48px;

    button {
      width: 48px;
      height: 48px;
      border-radius: .5rem;
      position: relative;
      background-color: $success;
      vertical-align: top;
      color: $white;
      line-height: 2rem;
      font-size: 2rem;
      text-align: center;
      padding: 0;
    }

    input {
      position: absolute;
      width: 220px;
      height: 48px;
      line-height: 48px;
      left: 0;
      top: 50%;
      transform: translateY(-50%) scale(0);
      opacity: 0;
      transition: opacity .2s, transform .2s;
      background-color: $white;
      z-index: 999;

      &.visible {
        transform: translateY(-50%) scale(1);
        opacity: 1;
      }
    }
  }

  .categories-content {
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;

    .category {
      padding: 4px;
      margin: 0 8px;
      min-width: 48px;
      text-align: center;
      cursor: pointer;
      border: 2px solid;
      display: inline-block;
      height: 48px;
      line-height: 36px;
      font-size: 1.2rem;
      border-radius: .5rem;
      position: relative;
      overflow: hidden;
      vertical-align: middle;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border: 1000px solid;
        opacity: 0;
        transition: opacity .2s;
      }

      &:hover {
        &:after {
          opacity: .2;
        }
      }
    }
  }
}