@import "reset";
@import "common";

html {
  body {
    overflow-x: hidden;

    .ant-message {
      .anticon {
        display: none;
      }

      .ant-message-error {
        color: $error;
      }

      .ant-message-success {
        color: $success;
      }
    }

    /* import elements */
    @import "../elements/button/index";
    @import "../elements/checkbox/index";
    @import "../elements/form/index";
    @import "../elements/input/index";
    @import "../elements/map/index";
    @import "../elements/pin/index";
    @import "../elements/select/index";
    @import "../elements/textarea/index";

    /* import components */
    @import "../components/categories/index";

    /* import containers */
    @import "../containers/app/index";
    @import "../containers/authentication/index";
    @import "../containers/home/index";
  }
}
