.pin-element {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -120%);
  position: relative;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: gray;

  &:hover {
    z-index: 9;
  }

  &:before {
    content: '';
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: -1;
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 62%;
    z-index: -2;
    left: 50%;
    background-color: inherit;
    transform: translateX(-50%) rotate(45deg);
  }
}

.ant-pin-card{
  width: 300px;

  p{
    line-height: 24px;
  }

  h3{
    margin-bottom: 16px;
  }
}
