.map-element {
  position: relative;
  height: calc(100vh - 64px);
  transition: height .2s;

  .gm-style {
    & > button {
      display: none;
    }
  }

  .gmnoprint {
    display: none;
  }

  .overlay {
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, $white 100%);
    background: -webkit-linear-gradient(top, transparent 0%, $white 100%);
    background: linear-gradient(to bottom, transparent 0%, $white 100%);
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }

  .add-point{
    background-color: $success;
    color: $success;
  }
}